
*{
    margin: 0;
    padding: 0;
}

.container-fluid a{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 3, 37);
    font-size: 30px;
}
.container-fluid a img{
    height: 70px;
    
   
}
footer {
    background-color: rgb(0, 162, 255);
    color:rgb(3, 3, 37);
    padding: 30px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
   
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    
}
.footer-links a{
    color: rgb(3, 3, 37);
    text-decoration: none;
    font-size: 20px;
    


    
   
}

.footer-links li {
    margin-bottom: 10px;
   
    
   
   
}
.social-icons {
    list-style: none;
    padding: 0;
    
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 40px;
    
}
.contact-info {
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
    
}
.justificado h1{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 3, 37);
    text-align: center;
    


}


.justificado{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    margin-top: 20px;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
   
}

#instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-decoration: none;

}
#facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-decoration: none;
  
}
#twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-decoration: none;
  
}
#linkdin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-decoration: none; 
}
  
#yotube{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    text-decoration: none;
}



.carousel-item button{
    color: rgb(3, 3, 37);
    background-color: transparent;
    border-radius:15px ;
    width: 150px; 
    border: solid 1px green;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-left: 12px;

}
.carousel-item button:hover{

    background-color: rgb(16, 131, 96);
    color: white;
    transition: 0.5s;
}



.carousel-item img{
    height: 100vh;
    width: 100vh;
}
        .container_py{
            margin-left: 12px;
            font-size: 18px;
            text-align: justify;
           
           

        }
        .card-text{
            font-size: 18px;
            text-align: justify;
            color: rgb(3, 3, 37);
            
        }
        .container_py a{
            text-decoration: none;

        }
        .container_py img{
            width: 100%;
            height: 100%;
        }
        .container_py h1{
            color: rgb(3, 3, 37);
            
        
        }
        #recursosTema3 img{
            width: 20%;
            height: 20%;
        }

        #blogTema2 img{
            width: 50%;
            right: 50%;
        }
        .sobre a{
            text-decoration: none;
            font-family: 'Times New Roman', Times, serif;
             font-size:25px;
             color: rgb(3, 3, 37)
        
        
        }


        .sobre{
           
            background-color: transparent;
            border-radius:15px ;
            width: 150px; 
            border: solid 1px rgb(3, 3, 37);
            padding: 5px;
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            max-width: 200px;
            margin-top: 50px;
            
           }
        #centro{
            text-align: center;
        }
        .sobre:hover{
            background-color: blue;
            color: white;
            transition: 0.5s;
        }

        #heroinasTema1, #blogTema2, #recursosTema3{
        display: none;

        }
        @media (max-width: 768px) {
            .footer-links, .social-icons, .contact-info {
                text-align: center;
            }
            .social-icons li {
                margin-right: 5px;
            }
        }